@use "utility/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .menu, .cart {
        cursor: pointer;
    }

    @include laptop {
        max-width: 60em;
        left: 50%;
        transform: translateX(-50%);
        padding: 1.5rem 0;
    }

    @include desktop {
        max-width: 70em;
    }

    .menu {
        @include laptop {
            display: none;
        }
    }

    .nav-desktop {
        display: none;

        @include laptop {
            display: block;
            flex: 1;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 34px;

            li {
                text-transform: uppercase;
                font-size: 0.813rem;
                font-weight: 700;
                letter-spacing: 2px;
                transition: color 300ms ease-in-out;

                &:hover {
                    color: var(--color-orange-500);
                }
            }
        }
    }

    .cart {
        @include laptop {
            flex: 1;
            text-align: right;
        }
    }

    .logo {
        @include laptop {
            width: 143px;
            flex: 1;
        }
    }
}

.backdrop {
    height: 100dvh;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 74px;

    @include laptop {
        display: none;
    }
}

.nav {
    position: absolute;
    height: max-content;
    width: 100%;
    background-color: var(--color-white);
    padding: 84px 24px 35px;
    top: 74px;

    @include laptop {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 68px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
        }
    }
}
