@use "utility/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .menu, .cart {
        cursor: pointer;
    }
}

.backdrop {
    height: 100dvh;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 74px;
}

.nav {
    position: absolute;
    height: max-content;
    width: 100%;
    background-color: var(--color-white);
    padding: 84px 24px 35px;
    top: 74px;

    @include laptop {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 68px;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
        }
    }
}
