<header class="header">
    <lucide-icon [img]="Menu" class="menu" (click)="toggleMenu()"/>
    <div class="logo">
        <a routerLink="/">
            <img src="/shared/desktop/logo.svg" alt="Logo"/>
        </a>
    </div>
    <nav class="nav-desktop" aria-label="Menu">
        <ul>
            <li>
                <a routerLink="/">Shop</a>
            </li>
            <li>
                <a routerLink="/headphones">Headphones</a>
            </li>
            <li>
                <a routerLink="/speakers">Speakers</a>
            </li>
            <li>
                <a routerLink="/earphones">Earphones</a>
            </li>
        </ul>
    </nav>
    <lucide-icon [img]="ShoppingCart" class="cart"/>
</header>

@if (open()) {
    <div
        class="backdrop"
        (click)="toggleMenu()"
        (keydown.enter)="toggleMenu()"
        (keydown.space)="toggleMenu()"
    ></div>
    <nav class="nav">
        <ul>
            @for (item of data(); track item.title) {
                <app-navigation-item
                    [title]="item.title"
                    [icon]="item.icon"
                    [urlBtn]="item.urlBtn"/>
            }
        </ul>
    </nav>
}
