@use "utility/mixins" as *;

.hero-banner {
    background: url("/home/mobile/image-header.jpg") center / cover no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    text-align: center;

    @include tablet {
        background: url("/home/tablet/image-header.jpg") center / cover no-repeat;
        height: 700px;
    }

    @include laptop {
        background: url("/home/desktop/image-hero.jpg") center / cover no-repeat;
        height: 900px;
        display: block;
        text-align: left;
    }

    .content-hero {
        max-width: 400px;
        @include laptop {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 165px;
        }

        .top {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .overline {
                color: rgba(255, 255, 255, .4);
            }

            .h3 {
                font-size: 2.25rem;

                @include tablet {
                    font-size: 3.5rem;
                }
            }
        }

        .content {
            margin: 24px 0;
            color: rgba(255, 255, 255, .4);
        }
    }
}
