:root {
    --color-orange-500: oklch(0.679 0.131 48.59);
    --color-orange-400: oklch(0.817 0.105 49.698);

    --color-black-900: oklch(0.173 0 89.876);

    --color-grey-900: oklch(0.958 0 89.876);
    --color-grey-800: oklch(0.985 0 89.876);

    --color-white: oklch(1 0 89.876);
    --color-black: oklch(0 0 0);
}
